@charset "UTF-8";

/*
-------------------------------------------------
-------------------------------------------------
Keyframes Style Sheet
Version : 1.0
Author : CME
First update : 2022. 11. 05.
Last update : 2022. 00. 00.
-------------------------------------------------
-------------------------------------------------
*/


@keyframes scrollMove {
    0% {
        background-position:center 6px;
    }
    100% {
        background-position:center 0;
    }
}

@keyframes moveLogo {
    0% {
        transform:translateY(-50%) rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform:translateY(-50%) rotate3d(0, 1, 0, 180deg);
    }
}

@keyframes moveLogo2 {
    0% {
        transform:translateX(-50%) rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform:translateX(-50%) rotate3d(0, 1, 0, 180deg);
    }
}