@charset "UTF-8";

/*
-------------------------------------------------
-------------------------------------------------
Sub Style Sheet
Version : 1.0
Author : CME
First update : 2022. 11. 05.
Last update : 2022. 00. 00.
-------------------------------------------------
-------------------------------------------------
*/


/********** layout **********/
.sub_contents_wrapper{display:block; position:relative; padding:100px 0 0; box-sizing:border-box;}
.location_wrapper + .sub_contents_wrapper{padding:0;}
.contents_wrapper{display:block; position:relative; padding:100px 0; box-sizing:border-box; background:url(../images/common/bg_contents.jpeg)repeat-y center center / 100% auto;}

/* 정렬 */
.cen{text-align:center;}
.lft{text-align:left;}
.rit{text-align:right;}

/* 플렉스_레이아웃 */
.flex_wrap{display:flex; justify-content:center; position:relative;}
.flex_wrap.lft{justify-content:left;}
.flex_wrap.rit{justify-content:right;}
.flex_wrap.space{justify-content:space-between;}
.flex_wrap.wrap{flex-wrap:wrap;}
.flex_wrap.gap{gap:20px;}
.flex_wrap .flex_con{display:block; position:relative;}
.flex_wrap.ray2 .flex_con{flex:1 1 40%;}
.flex_wrap.ray3 .flex_con{flex:1 1 30%;}
.flex_wrap.rays .flex_con{flex:1 1 20%;}
.flex_wrap .flex_con.wide{flex:1 1;}

/* FLOAT_레이아웃 */
.float_wrap{display:block; position:relative;}
.float_wrap:after{display:block; clear:both; content:"";}
.float_wrap .lft_sec{display:block; position:relative; float:left; width:calc(50% - 0.1px);}
.float_wrap .rit_sec{display:block; position:relative; float:right; width:calc(50% - 0.1px);}

/* 여백 */
.white_space_s1{display:block; position:relative; width:100%; height:100px; text-indent:-9999px; overflow:hidden;}
.white_space_s2{display:block; position:relative; width:100%; height:70px; text-indent:-9999px; overflow:hidden;}
.white_space_s3{display:block; position:relative; width:100%; height:50px; text-indent:-9999px; overflow:hidden;}
.white_space_s4{display:block; position:relative; width:100%; height:25px; text-indent:-9999px; overflow:hidden;}
/********** //layout **********/


/********** location **********/
.location_wrapper{display:block; position:relative; width:100%; box-sizing:border-box; border-bottom:1px solid #666; background:url(../images/common/bg_contents.jpeg)no-repeat center center / 100% auto;}
.location_wrapper .location{display:flex; flex-wrap:nowrap; position:relative; justify-content:left; padding:50px 0; box-sizing:border-box;}
.location_wrapper .location > li{display:inline-block; position:relative;}
.location_wrapper .location > li + li{margin-left:100px;}
.location_wrapper .location > li + li:before{display:block; position:absolute; top:50%; left:-50px; transform:translateY(-50%); width:5px; height:9px; content:""; background:url(../images/icon/ico_arr_rit.png)no-repeat center center;}
.location_wrapper .location > li.home a{display:block; position:relative; vertical-align:middle; padding:0 15px; box-sizing:border-box; line-height:3; text-align:center;}
.location_wrapper .location > li.page_tit h2{display:block; position:relative; text-align:left; color:#333; font-family:"Gmarket", sans-serif; font-size:2rem; font-weight:700; letter-spacing:-0.5px; line-height:1.6; top:4px;}
/********** //location **********/


/********** text **********/
/* color */
.txt_col01{color:#203a72 !important;}

/* tit */
.sub_tit_h3{display:block; position:relative; text-align:left; color:#333; font-family:"Gmarket", sans-serif; font-size:2rem; font-weight:700; letter-spacing:-0.25px; line-height:1.5;}
.sub_tit_h4{}
.tit_noti{float:right;}

/* t_size */
.t_s1{font-size:1rem;}
.t_s2{font-size:1.5rem;}
.t_s3{font-size:2rem;}

/* t_family */
.t_nt{font-family:"NotoSansKR", sans-serif;}
.t_gk{font-family:"Gmarket", sans-serif;}

/* icon */
.icon_pc{padding-left:70px; box-sizing:border-box; background:url(../images/icon/ico_pc.png)no-repeat left top / auto 100%;}
.icon_mobile{padding-left:54px; box-sizing:border-box; background:url(../images/icon/ico_mobile.png)no-repeat left top / auto 100%;}
.icon_responsive{padding-left:70px; box-sizing:border-box; background:url(../images/icon/ico_responsive.png)no-repeat left top / auto 100%;}
/********** //text **********/


/********** bullet **********/
.bul_ty01_sty01{position:relative; padding-left:20px; box-sizing:border-box; text-align:left; color:#333; font-size:1rem; font-weight:400; letter-spacing:-0.5px; line-height:1.5;}
.bul_ty01_sty01:before{display:block; position:absolute; top:8px; left:0; width:10px; height:10px; border-radius:10px; content:""; background:#203a72;}
/********** //bullet **********/


/********** button **********/
/* btn_box */
.btn_area{display:block; position:relative; text-align:center;}
.btn_area.lft{text-align:left;}
.btn_area.rit{text-align:right;}

/* btn */
.btn_ty01_sty01{display:inline-block; position:relative; z-index:2; vertical-align:middle; position:relative; padding:10px 25px; box-sizing:border-box; background:#203a72; border:1px solid #203a72; border-radius:10px; text-align:center; color:#fff; font-size:1rem; font-weight:500; letter-spacing:-0.5px; line-height:1.5; transition:all .5s; overflow:hidden;}
.btn_ty01_sty01:before{display:block; position:absolute; z-index:-1; top:0; left:0; width:100%; height:100%; content:""; transform:scaleX(0); transform-origin:left center; background:#fff; transition:all .5s;}
.btn_ty01_sty01:hover{color:#203a72;}
.btn_ty01_sty01:hover:before{transform:scaleX(1);}
/********** //button **********/


/********** portfolio **********/
.portfolio_wrapper{display:block; position:relative;}
.portfolio_wrapper .portfolio{display:block; position:relative; padding:30px; box-sizing:border-box; border:1px solid #ccc;}
.portfolio_wrapper .portfolio .port_img{display:block; position:relative; z-index:2; background:#ccc; overflow:hidden;}
.portfolio_wrapper .portfolio .port_img img{width:100%; image-rendering:-webkit-optimize-contrast; transition:all .5s;}
.portfolio_wrapper .portfolio .port_dec{display:block; position:relative; margin-top:20px; padding-top:15px; box-sizing:border-box; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center; color:#222; font-size:1rem; font-weight:400; letter-spacing:-0.25px; line-height:24px;}
.portfolio_wrapper .portfolio .port_dec:before{display:block; position:absolute; top:0; left:50%; transform:translateX(-50%); width:100%; height:0; border-top:1px dashed #ccc; content:"";}
.portfolio_wrapper .portfolio:hover .port_img img{transform:scale(1.1);}
.portfolio_wrapper .portfolio:hover .port_dec{text-decoration:underline;}

.pf_list{display:block; position:relative;}
.pf_list .pf_item{display:block; position:relative;}
.pf_list .pf_item .pf_img img{width:100%; image-rendering:-webkit-optimize-contrast;}

.pf_list.box .pf_item{border:1px solid #ddd; transition:all .5s;}
.pf_list.box .pf_item .pf_img{display:block; position:relative;overflow:hidden;}
.pf_list.box .pf_item .pf_img img{transition:all .5s;}
.pf_list.box .pf_item .pf_dec{padding:15px 10px; box-sizing:border-box; border-top:1px solid #ddd; background:#fff; text-align:center; color:#999; font-size:1.125rem; font-weight:400; letter-spacing:-0.5px; line-height:1.5; transition:all .5s;}
.pf_list.box .pf_item:hover{box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);}
.pf_list.box .pf_item:hover .pf_img img{transform:scale(1.1);}
.pf_list.box .pf_item:hover .pf_dec{color:#203a72;}

.pf_list.pc .pf_item .pf_img{padding:0 60px 90px; box-sizing:border-box;}
.pf_list.pc .pf_item .pf_img:before{display:block; position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; content:""; background:url(../images/portfolio/bg_pc.png)no-repeat top center / 100% 100%;}

.pf_list.mobile .pf_item:after{display:block; position:absolute; bottom:30px; left:50%; transform:translateX(-50%); width:100%; height:10px; box-sizing:border-box; border-radius:100%; content:""; background:transparent; box-shadow:0 30px 15px rgba(0, 0, 0, 0.4); opacity:0; transition:all .5s;}
.pf_list.mobile .pf_item .pf_img{display:block; position:relative; top:0; width:100%; height:500px; box-sizing:border-box; border-radius:35px; overflow:hidden; transition:all .5s;}
.pf_list.mobile .pf_item .pf_img:before{display:block; position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; box-sizing:border-box; background:url(../images/portfolio/bg_mobile.png)no-repeat top center / 100% 100%; content:"";}
.pf_list.mobile .pf_item .pf_dec{display:block; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:calc(100% - 30px); padding:10px 10px 25px; box-sizing:border-box; border-radius:0 0 35px 35px; background:#fff; text-align:center; color:#333; font-size:1.125rem; font-weight:400; letter-spacing:-0.5px; line-height:1.5; transition:all .5s;}
.pf_list.mobile .pf_item:hover:after{opacity:1;}
.pf_list.mobile .pf_item:hover .pf_img{top:-30px;}
.pf_list.mobile .pf_item:hover .pf_dec{bottom:30px;}
/********** //portfolio **********/


/********** introduce **********/
.introduce_list{display:block; position:relative;}
.introduce_list li{display:flex; flex-wrap:nowrap; gap:20px; justify-content:left;}
.introduce_list li + li{margin-top:30px;}
.introduce_list .introduce_tit{display:block; position:relative; width:40px; color:#203a72; font-family:"Gmarket", sans-serif; font-size:1.25rem; font-weight:500; letter-spacing:-0.25px; line-height:1.5;}
.introduce_list .introduce_txt{display:block; position:relative; width:calc(100% - 40px); font-size:1rem; font-weight:400; letter-spacing:-0.25px; line-height:1.5;}
.introduce_list .introduce_txt:before{display:block; position:absolute; top:5px; left:-10px; transform:rotate(10deg); width:2px; height:15px; content:""; background:#ccc;}
/********** //introduce **********/


/********** greetings **********/
.greetings_dec{display:block; position:relative;}
.greetings_dec dt{display:block; position:relative; text-align:center; color:#203a72; font-family:"Gmarket", sans-serif; font-size:1.5rem; font-weight:500; letter-spacing:-0.5px; line-height:2;}
.greetings_dec dt span{display:inline-block; position:relative; padding-left:60px;}
.greetings_dec dt span:before{display:block; position:absolute; top:50%; left:0; transform:translateY(-50%) rotate3d(0, 0, 0, 0deg); width:60px; height:60px; content:""; background:url(../images/common/logo_cme.png)no-repeat center center; transform-origin:center center; animation:moveLogo 2s ease-in-out alternate infinite;}
.greetings_dec dd{display:block; position:relative; margin-top:30px; text-align:center; color:#666; font-size:1rem; font-weight:400; letter-spacing:-0.5px; line-height:1.5;}
/********** //greetings **********/


/********** not **********/
.not_found{display:block; position:relative; text-align:center;}
.not_found span{display:inline-block; padding:40px 0 40px 60px; box-sizing:border-box; background:url(../images/common/logo_cme.png)no-repeat left center / 50px auto; font-family:"Gmarket", sans-serif; font-size:1.5rem; font-weight:500; letter-spacing:-0.5px; line-height:2;}
/********** //not **********/